@if (root && item.visible !== false) {
<li>
  <div class="layout-menu-label">{{ item.label }}</div>
  <ul>
    @for (child of item.items; track child.label) {
    <li app-menuitem [item]="child" [index]="$index" [parentKey]="key" [root]="false">
    </li>
    }
  </ul>
</li>
}

@if (!root && item.visible !== false) {
<li [class.active-menuitem]="active">

  @if (item.items) {
  <!-- Ítem con submenú -->
  <a class="layout-menu-item" (click)="itemClick($event)" pRipple>
    <i [class]="item.icon + ' layout-menu-item__icon'"></i>
    <span class="layout-menu-item__label">{{ item.label }}</span>
    <i class="pi layout-menu-item__arrow" [class.pi-angle-down]="active" [class.pi-angle-right]="!active">
    </i>
  </a>
  <ul [@children]="active ? 'expanded' : 'collapsed'" class="layout-submenu">
    @for (child of item.items; track child.label) {
    <li app-menuitem [item]="child" [index]="$index" [parentKey]="key" [root]="false">
    </li>
    }
  </ul>
  } @else {
  <!-- Ítem hoja con routerLink -->
  <a class="layout-menu-item" [routerLink]="item.routerLink" routerLinkActive="active-route"
    [routerLinkActiveOptions]="{ exact: false }" (click)="itemClick($event)" pRipple>
    <i [class]="item.icon + ' layout-menu-item__icon'"></i>
    <span class="layout-menu-item__label">{{ item.label }}</span>
    @if (item.badge) {
    <span class="layout-menu-item__badge">{{ item.badge }}</span>
    }
  </a>
  }

</li>
}