<app-floatingconfigurator />
<div
    class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-col items-center justify-center">
        <div
            style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
            <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">
                <div class="text-center mb-8">
                    <img src="./assets/img/logos/Avancemos512.png" alt="Logo"
                        class="h-20 w-auto mb-8 shrink-0 mx-auto" />
                    <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">
                        Bienvenido a Distrident
                    </div>
                    <span class="text-muted-color font-medium">Inicie sesión para continuar</span>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div>
                        <p-floatlabel>
                            <input pInputText id="username" type="text" formControlName="username"
                                class="w-full md:w-120" />
                            <label class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
                                for="username">Usuario</label>
                        </p-floatlabel>
                        <br />
                        <p-floatlabel>
                            <p-password id="password" formControlName="password" [toggleMask]="true" [fluid]="true"
                                [feedback]="false"></p-password>
                            <label class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
                                for="password">Contraseña</label>
                        </p-floatlabel>
                        <div class="flex items-center justify-between mt-2 mb-8 gap-8">
                            <div class="flex items-center">
                                <p-checkbox id="rememberme" binary class="mr-2"></p-checkbox>
                                <label for="rememberme">Recordarme</label>
                            </div>
                            <span class="font-medium no-underline ml-2 text-right cursor-pointer text-primary">
                                <a (click)="forgot()">¿Olvidaste tu Contraseña?</a>
                            </span>
                        </div>
                        <p-button label="Iniciar Sesión" styleClass="w-full" type="submit"
                            [disabled]="loginForm.invalid"></p-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- @if(loading()){

<app-loading-web [mensaje]="mensaje" [status]="loading()"></app-loading-web>

} -->