.layout-sidebar {
    position: fixed;
    top: 4rem;
    left: 0;
    bottom: 0;
    width: 16rem;
    background: var(--p-surface-0);
    border-right: 1px solid var(--p-surface-200);
    z-index: 998;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;

    :host-context(.app-dark) & {
        background: var(--p-surface-900);
        border-right-color: var(--p-surface-700);
    }

    &__scroll {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 1rem;

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--p-surface-300);
            border-radius: 4px;
        }
    }
}
